@font-face{
  font-family:blocks;
  src:url('resources/GOOD PEOPLE.otf');
}
a{text-decoration: none;color:black;margin:5px}
body{
  background-color:#33f;
}
p{
  font-family: Arial;
  font-size: 14pt;
}
h3{
  font-family: Blocks;
  font-size: 24pt;
}
table{
  background-color:#f91;
  font-family: Blocks;
  font-size: 24pt;
}
.game-box{
  width:1600px;
  height:900px;
  background-color:white;
  border-color:black;
  border-width:5px;
  border-style:solid;
  border-radius:5px;
  position:absolute;
  left:100px;
  top:100px;
}
